**
!minecraft/
!minecraft/java/
!minecraft/java/plugins.txt
!minecraft/java/datapacks.txt
!minecraft/java/copy-floodgate-key.sh
!minecraft/java/datapacks/
!minecraft/java/datapacks/**
!minecraft/java/plugins/
!minecraft/java/plugins/**
!minecraft/java/config/
!minecraft/java/config/**
!minecraft-proxy/
!minecraft-proxy/**
!nginx/
!nginx/**
!fluentbit/
!fluentbit/**
!deploys/
!deploys/system/
!deploys/system/mariadb/
!deploys/system/mariadb/**
!resources/
!resources/minecraft/
!resources/minecraft/resourcepacks/
!resources/minecraft/resourcepacks/bedrock/
!resources/minecraft/resourcepacks/bedrock/**
!resources/minecraft/geyser/
!resources/minecraft/geyser/custom_mappings/
!resources/minecraft/geyser/custom_mappings/**
**/.env*
**/key.pem
**/saved-refresh-tokens.json
**/*.jar
**/*.db
**/*.sqlite*
**/logs/**
**/cache/**
**/backups/**
**/playerdata/**
**/world*/**
**/secrets/**
**/password-list.yml
**/private_key.txt
**/__pycache__/**
resources/minecraft/resourcepacks/bedrock/ValhallaMMO_Geyser/
